<div class="about">
    <h2>About Us</h2>
    <hr>
    <h2> Our Mission</h2>
    <p>
        Knowledge of English has emerged as the key to educational and economic opportunities in the global
        economy, but 100s of millions of children are being left behind.
    </p>
    <p>
        I n California, one in five schoolchildren is an “English Language Learner (ELL)”. In the US, one in
        ten schoolchildren is an ELL. Their initial struggles with English at school often translate to long-term
        disadvantage not just in English, but also in science and mathematics. In remote and poor regions in
        developing nations, the situation is far worse: the odds are stacked against children making their way up
        the economic ladder without access to qualified teachers.
    </p>
    <p>

        The global reach of the Internet and of low-cost mobile devices means that we now have a real shot at
        helping these children. We believe that digital content that brings these children from “zero to reading”
        can provide that crucial missing first step in their educational journey.
    </p>
</div>