<div class="about">
    <h2>About Us</h2>
    <hr>
    <h2 style="text-align: center;"> Our Mission</h2>
    <p>
        Knowledge of English has emerged as the key to educational and economic opportunities in the global
        economy, but 100s of millions of children are being left behind.


        I n California, one in five schoolchildren is an “English Language Learner (ELL)”. In the US, one in
        ten schoolchildren is an ELL. Their initial struggles with English at school often translate to long-term
        disadvantage not just in English, but also in science and mathematics. In remote and poor regions in
        developing nations, the situation is far worse: the odds are stacked against children making their way up
        the economic ladder without access to qualified teachers.
    </p>
    <p>

        The global reach of the Internet and of low-cost mobile devices means that we now have a real shot at
        helping these children. We believe that digital content that brings these children from “zero to reading”
        can provide that crucial missing first step in their educational journey.
    </p>

    <h2 style="text-align:left;">Functions</h2>
    <p>
        Libraries may provide physical or digital access to material, and may be a physical location or a virtual space,
        or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints,
        documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, table
        games, video games and other formats. Libraries range widely in size, up to millions of items.

        Libraries often provide quiet areas for studying, and they also often offer common areas to facilitate group
        study and collaboration. Libraries often provide public facilities for access to their electronic resources and
        the Internet. Public and institutional collections and services may be intended for use by people who choose not
        to—or cannot afford to—purchase an extensive collection themselves, who need material no individual can
        reasonably be expected to have, or who require professional assistance with their research.[5]

        Services offered by a library are variously described as library services, information services, or the
        combination "library and information services", although different institutions and sources define such
        terminology differently. Organizations or departments are often called by one of these names
    </p>
    <p style="text-align:center;">
    <img src="https://c4.wallpaperflare.com/wallpaper/935/849/231/background-tree-book-wallpaper-preview.jpg">
</p>
    <h2 style="text-align:left;">Organization</h2>
    <p>
        Library shelves in Hong Kong, showing numbers of the classification scheme to help readers locate works in that
        section
        Most libraries have materials arranged in a specified order according to a library classification system, so
        that items may be located quickly and collections may be browsed efficiently.[13] Some libraries have additional
        galleries beyond the public ones, where reference materials are stored. These reference stacks may be open to
        selected members of the public. Others require patrons to submit a "stack request", which is a request for an
        assistant to retrieve the material from the closed stacks: see List of closed stack libraries.

        Larger libraries are often divided into departments staffed by both paraprofessionals and professional
        librarians.
    <p>
        Circulation (or Access Services) – Handles user accounts and the loaning/returning and shelving of
        materials.[14]
        Collection Development – Orders materials and maintains materials budgets.
        Reference – Staffs a reference desk answering questions from users (using structured reference interviews),
        instructing users, and developing library programming. Reference may be further broken down by user groups or
        materials; common collections are children's literature, young adult literature, and genealogy materials.
        Electronic Library - Responsible for providing information to users via electronic means
        Technical Services – Works behind the scenes cataloging and processing new materials and deaccessioning weeded
        materials.
    </p>
    <p>
        Stacks Maintenance – Re-shelves materials that have been returned to the library after patron use and shelves
        materials that have been processed by Technical Services. Stacks Maintenance also shelf reads the material in
        the stacks to ensure that it is in the correct library classification order.
        Basic tasks in library management include the planning of acquisitions (which materials the library should
        acquire, by purchase or otherwise), library classification of acquired materials, preservation of materials
        (especially rare and fragile archival materials such as manuscripts), the deaccessioning of materials, patron
        borrowing of materials, and developing and administering library computer systems.[15] More long-term issues
        include the planning of the construction of new libraries or extensions to existing ones, and the development
        and implementation of outreach services and reading-enhancement services (such as adult literacy and children's
        programming). Library materials like books, magazines, periodicals, CDs, etc. are managed by Dewey Decimal
        Classification Theory and modified Dewey Decimal Classification Theory is more practical reliable system for
        library materials management.[16]
    </p>
    <p>
        The International Organization for Standardization (ISO) has published several standards regarding the
        management of libraries through its Technical Committee 46 (TC 46),[17] which is focused on "libraries,
        documentation and information centers, publishing, archives, records management, museum documentation, indexing
        and abstracting services, and information science". The following is a partial list of some of them:[18]
    </p>
    <p>
        ISO 2789:2006 Information and documentation—International library statistics
        ISO 11620:1998 Information and documentation—Library performance indicators
        ISO 11799:2003 Information and documentation—Document storage requirements for archive and library materials
        ISO 14416:2003 Information and documentation—Requirements for binding of books, periodicals, serials, and other
        paper documents for archive and library use—Methods and materials
        ISO/TR 20983:2003 Information and documentation—Performance indicators for electronic library services
    </p>

    <div class="card text-center" id="foot">

        <div class="card-body">


            <div class="footer">
                <ul>
                    <h4>
                        <li>Links</li>
                    </h4>
                    <li>Home</li>
                    <li>about</li>
                    <li>price card</li>
                    <li>add book</li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <h4>
                        <li>Themes</li>
                    </h4>
                    <li>Guides</li>
                    <li>Webpack</li>
                    <li>Getting started</li>
                    <li>Starter template</li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <h4>
                        <li>Languages</li>
                    </h4>
                    <li>Tamil</li>
                    <li>English</li>
                    <li>German</li>
                    <li>Korean</li>
                </ul>
            </div>
            <div class="footer">
                <ul>
                    <h4>
                        <li>Issues</li>
                    </h4>
                    <li> Discussions</li>
                    <li> Corporate sponsors</li>
                    <li> Open Collective</li>
                    <li>Stack Overflow</li>
                </ul>


            </div>
            <ul style="width: 100%;" id="icon">
                <li> <i class="fa-brands fa-facebook fa-2x"></i></li>
                <li><i class="fa-brands fa-twitter fa-2x"></i></li>
                <li><i class="fa-brands fa-linkedin fa-2x"></i></li>
                <li><i class="fa-brands fa-google fa-2x"></i></li>
            </ul>
        </div>



        <p class="card-text">E-Library
            Designed and built with all the love in the world by the E-Library team with the help of our
            contributors.
            Code licensed MIT, docs CC BY 3.0.
            Currently v0.1.2.
        </p>
        <div class="card-footer text-muted">
            <span>@2021-2022<a href="#">E-librarysystems</a>.All rights reserved<a href="#"> Cookie policy</a>,
                <a href="#">Privacy</a> and <a href="#">Terms</a></span>

        </div>
    </div>
</div>