.book{
    border: 3px solid rgb(78, 71, 71);
    margin: auto;
    width:35%;
    border-radius: 25px;
    padding: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
    box-sizing:border-box;
    background: linear-gradient(120deg,#eee2ea, #7d8ce2);
   
}

.col-12{
    width: 100%;
    text-align: center;
}
#edit{
    margin-right: 5px;
}