.footer{
    float: left;
    margin: 20px;
    
}
.deadline{
    height: 30%;
    margin-top: 30%;
}

.footer li{
    list-style-type: none;
    text-align: left;
}
#foot{
    background-color: #3a3a3a;
    color:white;
}
li{
    list-style-type: none;
}
#icon li{
    float: right;
    padding: 10px;
    margin-top: 20px;
}